*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   
}

body{
    color: #fff;
    background-color: purple;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation:slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px; 
    transition: .3s;
    opacity: 0;
    animation:slideTop  .5s ease forwards;
}
.navbar a:hover{
    color:  aqua;
}



.home{
    position: relative;
    width: 100%;
    justify-content: space-between ;
    height: 100vh;
    align-items: center;
    margin-top: 150px;
    padding: 70px 10% 0;
}


#home-content{
    width: 600px;
}

#home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

#home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: sliderightH1 1s ease forwards;
    animation-delay: .7s;
    
}

#home-content p{
    font-size: 20px;
}

#home-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid aqua;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: slidetop 1s ease forwards;
    animation-duration: 4s;
    box-shadow: 0 0 5px aqua;

}

#home-icon a:hover{
    background: aqua;
    color:black;
    box-shadow: 0 0 20px aqua;
}


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
}


@keyframes slideTop{
    0%{
        transform: translateX(100px);
        opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
}


@keyframes slidetop{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
}


@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
}


@keyframes sliderightH1{
    0%{
        transform: translateX(100px);
        opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
}





.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom:6rem ;
}

.about-text{
 font: 60px;
}

.about-text h2{
    font-size: 60px;
    font-size: 60px;
}

.about-text h2 span{
    color: aqua;
    
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0 30px;
}

.about-text p{
    color: rgb(66, 111, 150);
    font-weight: 29px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#more-button{

    height: 50px;
    width: 300px;

}







.services{
    color: aliceblue;
    font-size: 20px;
    line-height:1.4;
    margin-bottom: 4rem;
    
}

#services1{
    padding: 90px;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: aqua;
}

#service-list{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

#service-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 20px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 1px 2px blue ;
}

#service-list div:hover{
    transform: translate(-10px);
    color: orange;
    background-color: chartreuse;
}

#service-list div i {
    font-size: 50px;
    margin-bottom:30px;
}
#service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px; 
}
















/* .skill-section{
display: flex;
flex-wrap: wrap;
} */

.my-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
    
    

}

.my-skill span {
    color: aqua;
}

#heading1{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 50px;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    display: relative;
    flex-wrap: wrap;
}

#bar{
    font-size: 20px;
    
  }

  #bar .skill-name{
    display: inline-flex;
  }

.skill-name{
    font-size: 15px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 20px;
    background-color: #282828;
    border-radius: 3px;
  
}

.skill-per{
    height: 20px;
    background-color: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #773939;
    border-radius: 4px;
    font-size: 15px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -10px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    } to{
        width: 100%;
    }
}


/* Contact */


.contact {
  display: flex;
  flex-direction: column; 
  /* position: relative; */
  /* background-size: cover; */
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}


#cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    font-size: 40px;
    text-align: center;
     color: aqua;
}

#reach-out {
  color: white;
  padding-top: 30px;
}

#contact-flex{
    display: grid;
    width: 700px;
    height: 600px;
    border: 2px solid purple;
    margin-left: 315px;
    background-color: lightblue;
}

.contact-content {
  display: flex;
  align-self: center;
  line-height: 5;
  height: auto;
  width: 50%;
  margin-bottom: 5rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 1rem;
  margin-bottom: 3rem;
  margin-top: 50px;
}

fieldset {
  border: none;

}

.form-field {
  outline: none;
  width: 200%;
  border-bottom: 2px solid black;
  margin-bottom: 1.9rem;
 
}

#name, #email, #subject, #message {
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 1px;
  font-size: .6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}


textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: rgb(189, 171, 171);
  cursor: pointer;
  transition: all .3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 burlywood;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  margin-top: -750px;

}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #c31432;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #a33333;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all .3s ease;
}

.contact-info a:hover {
  transform: translateY(2.5%);
  color: rgb(226, 23, 226);
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all .3s ease;
}

.fab:hover{
  transform: scale(1.2);
  color: #999;
}


.contact-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid aqua;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 10px;
    animation: slidebottom 1s ease forwards;
    animation-duration: 4s;
    box-shadow: 0 0 5px aqua;

}

.contact-links a:hover{
    background: aqua;
    color:black;
    box-shadow: 0 0 20px aqua;
}


@keyframes slidebottom{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
}


@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    width: 100%;
  }
  
  #form-btn {
    width: 100%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  .contact-header{
    margin: 5rem 5rem 3rem 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 125%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  #form-btn {
    width: 125%;
  }
  
  .contact-header{
    margin: 7rem 7rem 3rem 7rem;
  }
  
  .contact-info {
    padding: 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1460px) {
  .form-field {
    width: 200%;
  }
  
  #form-btn {
    width: 200%;
  }
}
